@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <!--    <h2>@ViewBag.Message</h2>-->
</hgroup>

<article>
    <img src="/Images/ShaekirKhzym.jpg" title="Shaekir Ramses Khzym" alt="" height="200" width="300" />
    <p>
        Shaekir Ramses Khzym.
    </p>

    <p>
        MCSA , MCSD App Builder,
    </p>

    <p>
        MCPD Web, MCPD Win/WPF, MCTS
    </p>
</article>

<aside>
    <h3>Software Developer</h3>
    <p>
        American University In Cairo - CACE
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>